/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* css variables */

/* navigation bar */
.body{
    background: #09393d url('/image/aeroplane.png') ;
    background-size: cover;
    background-blend-mode: multiply;
    height: 100%;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.514);
    position: sticky;
    top: 0;
} 

.navbar ul{
    display: flex;
    float: right;
}

.navbar ul li{
   color: black;
   list-style-type: none;
   font-size: 1.2rem;
   padding: 20px;
}

.navbar ul li a{             
   color: rgb(255, 255, 255); 
   text-decoration: none;
   font-size: 13px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding: 5px;
 }

.navbar ul li a:hover{
     color: rgb(189, 189, 189);
     transition: 0.1s;
 }


 #searchbar {
     position: absolute;
     margin-left: 30px;
     left: 0;
     width: 200px;
 }
 #searchbar img{
     height: 50px;
     width: 100px;
 }
 /* --------BURGER------- */
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 2%;
    top: 18px;
}
 .line{
     width: 30px;
     background-color: white;
     height: 2px;
     margin: 5px 5px;
 }
 
 /* home section */

.home{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
   height: 80%;
   width: 98%;
}
.homeup{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 46%;
    height: 20%;
    margin: 12px;
}

.first20{
    border: none;
    border-bottom: 2px solid rgb(211 211 211 / 74%);
    background-color: transparent;
    outline: none;
    margin: 10px;
    margin-right: 0px;
    width: 47%;
    font-size: 100%;
    color: rgb(211 211 211 / 70%);
}

.first20 option{
    background-color: rgba(16, 24, 23, 0.555);
}

.box30{
    margin-top: 10px;
    border-radius: 50px;
    width: 100%;
    height: 40%;
    text-align: center;
    border: none;
    background-color: rgba(82, 82, 82, 0.562);
    font-family: 'KoHo', sans-serif;
    font-size: 110%;
    font-weight: 100;
    color: white;
}

.home-error{
    color: black;
    margin:auto;
    background-color: white;
}

.homedown h1{
    font-family: 'KoHo', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 800%;
}

.homedown h1::first-letter{
    color: red;
}
.homedown h2{
    font-family: 'KoHo', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 300%;
    color: #1394dc;
    margin: auto;
}

.homedown p{
    font-family: 'KoHo', sans-serif;
    width: 800px;
    text-align: center;
    font-size: 100%;
    margin: 15px;
}

.login-register{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.indexlogin{
    height: 45px;
    width: 170px;
    background-color: rgba(0, 0, 0, 0.514);
    border: 2px solid rgba(255, 255, 255, 0.658);
    border-radius: 50px;
    color: white;
    font-size: 120%;
}
.indexlogin:hover{
    background-color: rgba(255, 255, 255, 0.705);
    color: rgb(0, 0, 0);
    transition: 0.2s ease-out;
}

.indexregister{
    height: 45px;
    width: 170px;
    background-color: rgba(255, 255, 255, 0.705);
    border: 2px solid rgba(255, 255, 255, 0.705);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-size: 120%;
}

.indexregister:hover{
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    transition: 0.2s ease-out;
}
.company{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10%;
    background-image: linear-gradient(#09393d,#09393dc7, rgb(255, 255, 255));
}
.company img{
    height: 200px;
    width: 270px;
}
.company p{
    color: black;
    text-align: center;
    font-size: 25px;
}
.partition{
    display: flex;
    flex-direction: row;
}
.partition div{
    margin: 15px;
    border: 3px solid white;
    background-color: white;
    box-shadow: 0px 0px 4px 0px white;
    transition: 0.3s all ease-in-out;
}
.partition div:hover{
    margin: 10px; 
}
/* --------------------------------------------------last------------------------------------------------- */

.plan{
     display: flex;
     flex-direction: column;
     background-color: white;
     width: 100%;
}

.plan-content{
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 300px;
}
.plan-content-elements{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.plan-content-elements div{
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    width: 50%;
}
.plan-content-elements div img{
    height: 200px;
    width: 200px;
    margin-top: 40px;
}



/* ---------------------FOOTER--------------- */

.footer{
    width: 100%;
    background-color:rgb(48, 59, 58);
    font-size: 110%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-content{
    margin: auto;
    margin-top: 5%;
    width: 30%;
}

.footer-content ul a{
    text-decoration: none;
    color: black;
    text-align: left; 
}

.footer-content ul a li{
    list-style: none;
    margin-top: 6%; 
}

  #paymenticons{
    margin-top: 10px;
}  
#paymenticons img{
    width: 8%;
    height: 10%;
    margin: 1%;
}

#paymenttypes{
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 5px;
    width: 5%;
}


/* -----------------------------------------------------------LOG IN------------------------------------------------------- */

.login-page{
    padding: 6%;
} 
.login-page div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.login-page div div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.icons{
    color: rgb(190, 190, 190);
}

.login-page h2{
    color:rgb(96, 201, 228);
    font-size: 4rem;
    font-weight: 150;
    text-decoration: underline 1px;
}
.boxes{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(190, 190, 190);
    outline: none;
    margin: 3%;
    width: 30rem;
    font-size: 1.3rem;
    font-weight: 100;
    font-family: 'KoHo', sans-serif;
    color: white;
}
#btnlogin{
    width: 12rem;
    padding: 2%;
    border: 1px solid rgb(190, 190, 190);
    background-color: transparent;
    font-size: 1.5rem;
    color: rgb(190, 190, 190);
    margin: 10px;
    transition: 0.2s ease-in-out;
}
#btnlogin:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.login-page p{
    color: rgb(190, 190, 190);
}
.login-page p a{
    color: rgb(67, 219, 67);
    font-size: 1rem;
    transition: 0.2s ease-in-out;
}
.login-page p a:hover{
   color: rgb(173, 86, 253);
}

/* ----CITIES------ */

.cities{
    width:100%;
    height: 24rem;
    display: flex;
    flex-direction: row;
}
.sections{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.city-name{
    position: relative;
    width: 50%;
    margin: 1%;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.city-name img{
    height: 365px;
    width: 100%;
    opacity: 70%;
    background-color: rgb(202, 202, 202);
}
.city-image{
    height: 100%;
    transition: 0.3s ease-in-out;
}
.city-abouts{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 5px;
    text-align: center;
    font-family: 'KoHo', sans-serif;
    color: white;
    opacity: 0;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}
.city-abouts h2 p{
    justify-content: center;
    font-size: 1rem;
    font-weight: 200;
}
.city-abouts:hover{
    background-color: rgba(0, 0, 0, 0.445);
    opacity: 1;
}
.city-title{
    font-size: 2rem;
    color: rgb(212, 50, 50);
    position: relative;
    top: 8px;
    margin: 15px;
    text-align: center;
    font-family: 'KoHo', sans-serif;
    font-weight: 900;
    letter-spacing: 5px;
}

/* ---------JAVA SCRIPT------------- */

.loginerrorpage{
    color: red;
    font-size: 15px;
    position: absolute;
    text-align: left;
}
#emailerror{
    margin-top: 5%;
}
#passworderrorlogin{
    margin-top: 5%;
}


/* -------------------------------------------------------REGISTER---------------------------------------------------------- */


.main-register{
    width: 100%;
    text-align: center;
    height: 580px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.main-register h1{
    text-align: left;
    color: black;
    background-color: #5bd8e6;
    border-radius: 17px 17px 0px 0px;
}
.main-register form{
    border: 2px solid #5bd8e6;
    border-radius: 20px;
    width: 40rem;
}

.box{
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    background-color: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #5bd8e6;
}

.box .details{
    text-align: left;
}

.container {
   word-spacing: 10px;
   color: #5bd8e6;
}


.textbox{
    border: 1px solid rgb(211, 208, 208);  
    border-radius: 17px; 
    background-color: transparent;
    padding: 0.5rem;
    color: white;
    outline: none;
    display: flex;
    align-items: center;
}

.textbox:hover{
   border-color: rgb(192, 117, 5);
}
#button{
    width: 12rem;
    height: 2.5rem;
    background-color: #5bd8e6;
    color: rgb(0, 0, 0);
    outline: none;
   border: none;
   border-radius: 10px;
   font-size: 1.5rem;
   font-family: 'KoHo', sans-serif;
   font-weight: 900;
}


#button:hover{
   transition: all ease 0.3s;
   box-shadow: inset 349px 0 0 0 rgb(192, 117, 5);
   color: black;
}

.error{
    color: red;
    font-size: 12px;
    position: absolute;
    margin-top: 53px;
}

/* -----------------------------------------------------------TICKET BOOKING--------------------------------------------------------- */


.form-ticket form{
    width: 40rem;
    border: 2px solid chartreuse;
    border-radius: 50px;
    margin: auto;
}

.form-ticket h1{
   color: black;
   background-color: chartreuse;
   border-radius: 45px 45px 0px 0px;
   padding: 0.7rem;
   font-family: 'KoHo', sans-serif;
   font-size: 2rem;
}

.faresystem{
    color: #7c7c7c;
    display: flex;
    width: 100%;
    margin: auto;   
    margin-top: 3%;
}
.faresystem input{
    width: 40%;
    margin: auto;
    margin-right: 0;
}
.faresystem div{
    display: flex;
    width: 30%;
}
.box1{
    display: flex;
    flex-direction: row;
    padding: 2%;
}
.first{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    width: 50vw;
    margin: 2%;
    color: #7c7c7c;
}
.box1 p{
    color: #7c7c7c;
}
.ticket-buttons{
    display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 3%;
}
.button{
    width: 100%;
    text-align: center;
}
.ticket-btn{
    width: 60%;
    border: none;
    height: 2.3rem;
    font-size: 1.6rem;
    font-weight: 100;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
#btn1{
    background-color: green;
}
#btn2{
    background-color: rgb(124, 0, 0);
}
.ticket-btn:hover{
    color: black;
}


/* ----------------------------------------------------PAYMENT------------------------------------------------------------ */



.payment{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 99px;
    color: white;
    z-index: 2;
   
}

.payment h1{
    text-align: center;
    padding: 10px 0px 10px 0px;
    background-color: cornflowerblue;
    margin: -16px 0px 0px -4px;
    width: 276px;
}

.payment h2{
   text-decoration: underline;
}

.payment2{
   padding: 10px;
}

.payment3{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#card{
    border: 2px solid white;
    outline: none;
    background-color: transparent;
    padding: 10px;
    width: 224px;
}
#card:hover{
   border: 2px solid rgb(255, 136, 0);
}

#date{
    border: 2px solid white;
   outline: none;
   background-color: transparent;
   padding: 10px 0px 10px 5px;
   width: 110px;
}
#date:hover{
    border: 2px solid rgb(255, 136, 0);
}


#cv{
    display: flex;
    flex-direction: row;
    outline: none;
    background-color: transparent;
    width: 110px;
}

.dateleft{
    margin-right: 10px;
}


#code{
    border: 2px solid white;
   outline: none;
   background-color: transparent;
   padding: 10px;
   width: 224px;
}

#code:hover{
   border: 2px solid rgb(255, 136, 0);
}


#btn{
   border: none;
   padding: 10px;
   background-color: green;
   font-size: 20px;
   outline: none;
   margin-left: -10px;
}

#btn:hover{
    background-color: chocolate;
    color:rgb(255, 255, 255);
    transition: 0.5s;
}

.paymentimagelayer{
    position: absolute;
    top: 0;
    margin: 115px 0px 0px 95px;
    z-index: 2;
}

.paymentimagelayer img{
     height: 500px;
     width: 850px;
}

.paymentoverlay{
    height: 500px;
     width: 276px;
     background-color: rgba(0, 0, 0, 0.644);
     position: absolute;

}

#additionaltext{
    width: 270px;
    text-align: center;
    margin: -11px 0px 0px -12px;
    font-weight: 100;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 

 



/* ------------------------------------------------SERVICES----------------------------------------- */
 

.service{
    position: absolute;
    margin-top: 200px;
    
}
.service p{
    font-size: 68px;
    color:burlywood;
    
}


.section100{
    display: flex;
    margin: 30px;
    position: absolute;
    margin: -740px 10px 10px 33px;
}

#fst{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.452);
    margin: 10px;
    height: 360px;
    width: 300px;
    
}

#scnd{
    border: 2px solid rgba(0, 0, 0, 0.479);
    background-color: rgba(0, 0, 0, 0.452);
    margin: 10px;
    height: 360px;
    width: 300px;
   
}

#thrd{
    border: 2px solid rgba(0, 0, 0, 0.479);
    background-color: rgba(0, 0, 0, 0.452);
    margin: 10px;
    height: 360px;
    width: 300px;
}
#frth{
    border: 2px solid rgba(0, 0, 0, 0.479);
    background-color: rgba(0, 0, 0, 0.452);
    margin: 10px;
    height: 360px;
    width: 300px;
    
}
.titl{
    color: rgb(46, 154, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

.img{
    height: 130px;
    width: 150px;
    position: absolute;
    margin-top: 0;
    padding-left: 74px;
}

#medikit{
    height: 80px;
    width: 100px;
    padding-top: 20px;
    padding-left: 93px;
}

#gift{
    height: 70px;
    width: 83px;
    padding-top: 20px;
    padding-left: 105px;
}

#group{
    height: 70px;
    width: 83px;
    padding-top: 20px;
    padding-left: 105px;
}
.explanation{
    color: cornsilk;
    font-family:'Courier New', Courier, monospace;
    position: relative;
    display: flex;
    margin-top: 210px;
}


/* -----------------------------------------------ABOUT US----------------------------------------------------- */

.about{
    position: absolute;
    top: 120px;
    color:rgb(160, 154, 154);
    display: flex;
    flex-direction: row;
    margin-left: 85px;
}

.about h1{
    text-decoration: underline;
    text-decoration-style:dashed;
    color:rgb(49, 171, 192);
}

.parts{
    margin: 30px;
}

#element1{
    display: inline-block;
    margin: 10px 10px 0px 0px;
    padding: 10px 10pxx 10px 10px;
    height: 370px;
    width: 520px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.466);
}

#element2{
    margin: 10px -70px 0px 10px;
    padding: 10px 0px 10px 20px;
    height: 350px;
    width: 500px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.466);
}



/* ---------------------------------------------------CONTACT US------------------------------------------------ */


.contactus{
    position: absolute;
    top: 0;
    margin-left: 165px;
    margin-top: 240px;
    text-align: center;
    color: white;
    font-weight: 100;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contactus h1::first-letter{
   color: red;
 }


 /* ------------------------------------------------REGISTER JSP--------------------------------------------------- */

 .registerjsp{
     display: flex;
     margin-left: 464px;
     font-size: 30;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     border: 2px;
     border-radius: 10px;
     padding-top: 200px;
 }
 
 .success{
     position: absolute;
     top:0;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 300px;
     margin-left: 43%;
     padding: 5px 55px 5px 55px;
     border: 2px solid transparent;
     border-radius: 25px;
     background-color: white;
     color: black;
     font-size: 25px;
     position: absolute;
     outline: none;
 }

 .success:hover{
     background-color: black;
     color: white;
 }





 /* --------------------------------RESPONSIVE------------------------------------- */


 @media only screen and (max-width: 970px){
     .nav{
         flex-direction: column;
         align-items: center;
         transition: 0.3s all ease-in-out;
     }
     .navbar{
         display: flex;
         flex-direction: column;
         align-items: center;
         height: 40%;
         transition: 0.3s ease-in-out;
     }
      .h-nav{
        height: 60px;
        
     } 
     .burger{
         display: block;
     }
     .v-class{
         display: none;
         opacity: 0;
         visibility: hidden;
     }
     .plan-content div img{
        height: 150px;
        width: 150px;
        margin-top: 40px;
    }
    .plan-content div h2{
        font-size: 19px;
    }
    .plan-content{
        height: 250px;
    }
    .company{
        flex-direction: row;
    }
    .partition{
        flex-direction: column;
    } 
 }

 @media only screen and (max-width: 857px){
     .homeup{
        text-align: center;
     }
     .box30{
        width: 100%;
        height: 30%;
     }
     .first20{
         width: 60%;
     }
     .plan-content-elements{         
         flex-direction: column;
     }
     .plan-content-elements div{
         width: 95%;
     }
     .plan{
         height: 520px;
     }
     .homedown p{
         width: 95%;
         text-align: center;
     }
     .footer{
         font-size: 70%;
     }
     .cities{
         flex-direction: column;
         height:48rem;
     }

}    

@media only screen and (max-width: 657px){
    .plan-content{
        flex-direction: column;
    }    
    .plan-content-elements{
        flex-direction: column;
        width: 100%;
    }
    .plan{
        height: 1000px;
    }
    .company{
        flex-direction: column;
    }
    .partition{
        flex-direction: column;
    }
    .box1{
        flex-direction: column;
        align-items: center;
    }
    .form-ticket form{
        width: 25rem;
    }
    .first{
        padding: 3%;
        width: 90%;
    }
    .faresystem{
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    

}
@media only screen and (max-width: 536px)
{
    .footer{
        height: 100%;
        font-size: 60%;
    }
    .footer-content ul a li{
        margin-top: 20%; 
    }
    .homedown{
        font-size: 55%;
    }
    .first20{
        border-bottom: 1px solid rgb(211 211 211 / 74%);
        width: 80%;
    }
    .faresystem{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 440px){
    .sections{
        flex-direction: column;
    }
    .city-name{
        width: fit-content;
    }
    .cities{
        height: 94.5rem;
    }
    .form-ticket form{
        width: 20rem;
    }
}